.Sidebar {
  height: calc(100vh - var(--navbar-height));
  position: relative;
  width: var(--sidebar-width);
  background-color: var(--inverted-bg-color);
  transition: 0.3s width ease-in-out;
}

.switchers {
  display: flex;
  justify-content: center;
  position: absolute;
  align-items: center;
  bottom: 20px;
  width: 100%;
  gap: 15px;
}

.menuItems {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.collapsed {
  width: var(--sidebar-width-collapsed);

  .switchers {
    flex-direction: column;
  }
}

.collapseBtn {
  position: absolute;
  right: -32px;
  bottom: 32px;
}
