.app.dark {
  --bg-color: #11104d;
  --inverted-bg-color: #eeefb2;
  --primary-color: #048804;
  --secondary-color: #00a500;
  --inverted-primary-color: #fb77fb;
  --inverted-secondary-color: #ff5aff;
}
