.app_dark_theme {
  --bg-color: #11104d;
  --inverted-bg-color: #eeefb2;
  --primary-color: #048804;
  --secondary-color: #05a505;
  --inverted-primary-color: #ff5aff;
  --inverted-secondary-color: #fb77fb;

  // skeleton
  --skeleton-color: #060080;
  --skeleton-shadow: #0900b6;

  // Code
  --code-bg: #0e147e;

  // card
  --card-bg: #201e75;
}
