:root,
.app_purple_theme {
  --bg-color: #a713eb;
  --inverted-bg-color: #f9f4fb;
  --primary-color: #b7b6b8;
  --secondary-color: #2210c6;
  --inverted-primary-color: #2210c6;
  --inverted-secondary-color: #f9f4fb;
}
